<h1 align = center> Makanan <small> List </small>  </h1>

<h4 align = center> <%= link_to "New Data" , new_food_path%> </h4>

<% i = 1 %>
<table border = 1 cellspacing = 0 cellpadding = 8 align = center> 
    <tr>
        <th> ID_makanan </th>
        <th> Nama Makanan</th>
        <th> Harga </th>
        <th colspan = "3"> Control </th>
    </tr>

    <% @foods.each do |show_index| %>

    <tr> 
        <td align = center> <%= i %> </td>
        <td> <%= show_index.nama %> </td>
        <td> Rp. <%= show_index.harga %> </td>
        <td> <%= link_to 'Show', show_index %></td>
        <td> <%= link_to 'Edit', edit_food_path(show_index) %></td>
        <td> <%= link_to 'Delete', show_index, method: :delete %></td>
    </tr>
    
    <% i += 1 %>
    <% end %>



</table>